{% extends "templates/home.jinja2" %}

{%  block active_element%}
    <li><a href="/">Главная</a></li>
    <li class="active"><a href="profile">Личный кабинет</a> </li>
    <li><a href="search">Поиск</a></li>
    <li><a href="about">О сайте</a></li>
{% endblock %}

{%  block sidebar%}
    <div id="sidebar">
		<h2>Действия</h2>
		<ul>
			<li class="active"><a href="profile">Мой профиль</a></li>
			<li><a href="trees">Мои древа</a></li>
			<li><a href="add">Добавить древо</a></li>
		</ul>
	</div>
{% endblock %}

{%  block leftblock%}
    <h1>Мой профиль</h1>
	<p>
	<form action="" method="post">
        <table>
                <tr>
                    <td align="right">Логин</td>
                    <td align = "center">Ваш логин</td>
                    <td width="20"><button><img src="static/images/edit.png" width="20" height="18"></button></td>
                </tr>

                <tr>
                    <td align="right">e-mail </td>
                    <td align = "center">Ваш e-mail</td>
                    <td width="20"> <button><img src="static/images/edit.png" width="20" height="18"></button></td>
                </tr>

                <tr>
                <td align="right">Пол </td>
                    <td align = "center">Ваш пол</td>
                    <td width="20"><button><img src="static/images/edit.png" width="20" height="18"></button></td>
                </tr>

                <tr>
                    <td align="center" colspan="3">
                     <input type="submit" name="submit" value="Сохранить">
                    </td>
                </tr>
            </table>
        </form>
	</p>
{% endblock %}

{#<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Genealogical Tree</title>
		<link href="static/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="wrap">
			<div id="header">
				<div class="topmenu">
					<span class="home"><a title="Войти" href="#"><img src="static/images/homebttn.png" alt="Home" /></a></span>
				</div>
				<h1 class="logo"><a href="#">Генеалогическое древо</a>
				</h1>
			</div>
			<div id="mainmenu">
				<ul>
					<li><a href="home">Главная</a></li>
					<li class="active"><a href="registration">Личный кабинет</a> </li>
					<li><a href="#">Поиск</a></li>
					<li><a href="#">О нас</a></li>
				</ul>
			</div>
			<div id="contents">
#}{#				<div id="contenttop"></div>#}{#
				<div id="sidebar">
					<h2>Действия</h2>
					<ul>
						<li><a href="#">Мой профиль</a></li>
						<li><a href="#">Мои древа</a></li>
						<li><a href="#">Добавить древо</a></li>
					</ul>
				</div>
				<div id="left">
					<h1>Регистрация</h1>
					<p>
                    <form action="" method="post">
                        <table>

                            <tr>
                            <td align="right">Фамилия</td>
                            <td><input type="text" name="surname" size="25"></td>
                           </tr>

                           <tr>
                            <td align="right">Имя </td>
                            <td><input type="text" name="name" size="25"></td>
                           </tr>

                            <tr>
                            <td align="right">Отчество </td>
                            <td><input type="text" name="middlename" size="25"></td>
                           </tr>

                           <tr>
                            <td align="right">e-mail </td>
                            <td><input type="text" name="e-mail" size="25"></td>
                           </tr>

                           <tr>
                            <td align="right">Пароль </td>
                            <td>
                             <input type="password" name="password" size="25">
                            </td>
                           </tr>

                           <tr>
                            <td align="right">Повтор пароля </td>
                            <td>
                             <input type="password" name="password2" size="25">
                            </td>
                           </tr>

                           <tr>
                            <td align="right">Пол </td>
                            <td>
                              <input type="radio" name="sex" value="man" checked>
                              мужской
                              <input type="radio" name="sex" value="woman">
                              женский
                            </td>
                           </tr>

                           <tr>
                            <td align="center" colspan="2">
                             <input type="submit" name="submit" value="Зарегистрироваться">
                            </td>
                           </tr>

                        </table>
					</form>
					</p>
				</div>
			</div>
			<div id="footer">
			</div>
		</div>
	</body>
</html>#}
