{% extends "templates/home.jinja2" %}

{%  block active_element%}
    <li><a href="/">Главная</a></li>
    <li class="active"><a href="profile">Личный кабинет</a> </li>
    <li><a href="search">Поиск</a></li>
    <li><a href="about">О сайте</a></li>
{% endblock %}

{%  block sidebar%}
    <div id="sidebar">
		<h2>Действия</h2>
		<ul>
			<li class="active"><a href="profile">Мой профиль</a></li>
			<li><a href="trees">Мои древа</a></li>
			<li><a href="add">Добавить древо</a></li>
		</ul>
	</div>
{% endblock %}

{%  block leftblock%}
    <h1>Мой профиль</h1>
	<p>
	<form action="" method="post">
        <table>
                <tr>
                    <td align="right">Логин</td>
                    <td align = "center">{{name}}</td>
                    <td width="20"><button><img src="static/images/edit.png" width="20" height="18"></button></td>
                </tr>

                <tr>
                    <td align="right">e-mail </td>
                    <td align = "center">{{email}}</td>
                    <td width="20"> <button><img src="static/images/edit.png" width="20" height="18"></button></td>
                </tr>

                <tr>
                <td align="right">Пол </td>
                    <td align = "center">{{sex}}</td>
                    <td width="20"><button><img src="static/images/edit.png" width="20" height="18"></button></td>
                </tr>

                <tr>
                    <td align="center" colspan="3">
                     <input type="submit" name="submit" value="Сохранить">
                    </td>
                </tr>
            </table>
        </form>
	</p>
{% endblock %}